<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="connectionString" value="Server=localhost;port=3306;Database=mercado_db;Uid=root;Pwd=P@ssw0rd;" />
  </appSettings>
</configuration>